n8n/Assistente.Cliente.json
{
  "name": "JB Motos - Assistente Cliente",
  "nodes": [
    {
      "parameters": {
        "content": "## Assistente Cliente - JB Motos\nFluxo público para atendimento do cliente na loja.\n\nResponsabilidades:\n- Tirar dúvidas\n- Mostrar ofertas e cartazes\n- Guiar serviços\n- Simular pagamento\n- Enviar serviço/produto ao carrinho\n- Retornar ações para animação do carrinho",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0100",
      "name": "📌 Visão do Assistente Cliente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        40
      ]
    },
    {
      "parameters": {
        "content": "## Contrato esperado do frontend\nPOST /webhook/jb-motos/assistente-cliente\n\nBody sugerido:\n```json\n{\n  \"sessionId\": \"cliente-123\",\n  \"message\": \"quero troca de óleo\",\n  \"cart\": [],\n  \"page\": \"/loja\"\n}\n```\n\nResposta sempre retorna:\n- reply\n- quickReplies\n- actions\n- data",
        "height": 300,
        "width": 360,
        "color": 5
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0101",
      "name": "📄 Contrato HTTP Cliente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jb-motos/assistente-cliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0001",
      "name": "Webhook - Chat Cliente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "jb-motos-assistente-cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Chat Id",
              "type": "string",
              "value": "={{ $json.body.sessionId || $json.body.clienteId || 'cliente-anonimo' }}"
            },
            {
              "name": "Message",
              "type": "string",
              "value": "={{ $json.body.message || $json.body.text || $json.body.pergunta || '' }}"
            }
          ]
        }
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0010",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Entrada do chat\nEste webhook recebe mensagens do chat da loja.\n\nDepois vamos conectar:\n- autenticação por sessão\n- histórico do cliente\n- carrinho atual\n- origem da página",
        "height": 220,
        "width": 300,
        "color": 3
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0102",
      "name": "🧭 Entrada do Chat",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        210,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst messageRaw = String($json.Message ?? body.message ?? body.text ?? body.pergunta ?? '').trim();\nconst sessionId = String($json['Chat Id'] ?? body.sessionId ?? body.clienteId ?? 'cliente-anonimo');\nreturn [{\n  ...$json,\n  body,\n  sessionId,\n  messageRaw,\n  message: messageRaw.toLowerCase(),\n  page: body.page ?? '/loja',\n  cart: Array.isArray(body.cart) ? body.cart : [],\n  receivedAt: new Date().toISOString()\n}];"
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0004",
      "name": "01 - Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Normalização\nPadroniza a mensagem antes do motor de conversa.\n\nCampos criados:\n- sessionId\n- message\n- page\n- cart\n- receivedAt\n\nIsso facilita conectar IA, banco e logs depois.",
        "height": 240,
        "width": 320,
        "color": 6
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0103",
      "name": "🧼 Normalização",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        470,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  ...$json,\n  context: {\n    loja: 'JB Motos',\n    tom: 'Atendimento claro, direto, educado e comercial',\n    regras: [\n      'Nunca prometer pagamento real enquanto Mercado Pago nao estiver conectado',\n      'Confirmar antes de adicionar servico ao carrinho',\n      'Quando confirmar carrinho, retornar action add_to_cart e cart_animation',\n      'Quando for duvida de pagamento, explicar que por enquanto e simulacao'\n    ],\n    rotas: {\n      loja: '/loja',\n      ofertas: '/loja#ofertas',\n      servicos: '/loja#servicos',\n      carrinho: '/loja/carrinho',\n      conta: '/loja/minha-conta'\n    }\n  }\n}];"
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0005",
      "name": "02 - Contexto do Projeto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Contexto JB Motos\nEste nó injeta regras do projeto.\n\nImportante:\n- Pagamento Mercado Pago ainda é simulado\n- Carrinho recebe ações, não redireciona sozinho\n- Serviços sugerem peça + mão de obra\n- Cartazes/ofertas levam para a loja",
        "height": 250,
        "width": 330,
        "color": 4
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0104",
      "name": "🏍️ Contexto JB Motos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        730,
        520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageRaw || $json.Message || $json.body?.message || $json.body?.text || 'Olá, preciso de atendimento na JB Motos' }}",
        "options": {
          "systemMessage": "Voce e o AI Agent do atendimento ao cliente da JB Motos. Classifique a mensagem e responda somente JSON valido. Catalogo de referencia: ofertas Oleo Motor 10W30, Capacete Pro Tork, Pastilha de Freio; cartazes Revisao preventiva e Promocoes da semana; servicos de oficina incluem troca de oleo, revisao completa, diagnostico eletrico, limpeza de bico, regulagem de valvulas, troca de bateria, freios, pastilha de freio, suspensao, embreagem, carburador, transmissao, relacao, corrente e pneus. Regras: nao prometer pagamento real porque Mercado Pago ainda e simulacao; explicar servicos quando solicitado; para enviar solicitacao ao administrativo o cliente precisa estar logado; confirmar antes de adicionar ou solicitar servico; identificar ofertas, cartazes, servicos, pagamento ou carrinho. Formato obrigatorio: {\"intent\":\"boas_vindas|ofertas_cartazes|lista_servicos|confirmar_servico|servico_confirmado|pagamento|carrinho|fallback\",\"confidence\":0.0,\"replySuggestion\":\"texto curto\",\"entities\":{\"servico\":null,\"produto\":null,\"confirmou\":false},\"nextStep\":\"acao recomendada\"}"
        }
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0007",
      "name": "03 - AI Agent LangChain Cliente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Camada LangChain\nEste fluxo usa o AI Agent nativo do n8n.\n\nLigacoes semanticas:\n- OpenAI Chat Model -> ai_languageModel\n- Simple Memory -> ai_memory\n\nO motor local continua depois do Agent para converter a resposta da IA em actions do frontend.",
        "height": 280,
        "width": 350,
        "color": 6
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0108",
      "name": "🤖 IA - Preparação Cliente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1010,
        520
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-4o-mini"
        }
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0008",
      "name": "04 - OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        80
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').first().json['Chat Id'] || $json['Chat Id'] || $json.sessionId || 'cliente-anonimo' }}",
        "contextWindowLength": 50
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0011",
      "name": "04.1 - Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1300,
        520
      ]
    },
    {
      "parameters": {
        "content": "## Modelo e memoria\nConfigure as credenciais da OpenAI no node `OpenAI Chat Model`.\n\nA memoria usa `Chat Id`, mantendo contexto por conversa sem misturar clientes.",
        "height": 260,
        "width": 350,
        "color": 7
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0109",
      "name": "🔐 IA - API Segura",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1290,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const editFields = $('Edit Fields').first().json ?? {};\nconst body = $json.body ?? editFields.body ?? $json;\nconst messageRaw = String($json.Message ?? editFields.Message ?? body.message ?? body.text ?? body.pergunta ?? '').trim();\nconst message = messageRaw.toLowerCase();\nconst sessionId = String($json['Chat Id'] ?? editFields['Chat Id'] ?? body.sessionId ?? body.clienteId ?? 'cliente-anonimo');\nconst langchainOutput = String($json.output ?? '').trim();\nlet langchainDecision = {};\ntry {\n  langchainDecision = langchainOutput ? JSON.parse(langchainOutput) : {};\n} catch (error) {\n  langchainDecision = { replySuggestion: langchainOutput };\n}\nconst aiIntent = langchainDecision.intent ?? $json.ai?.decision?.intent ?? '';\nconst aiEntities = langchainDecision.entities ?? $json.ai?.decision?.entities ?? {};\n\nconst catalogo = {\n  ofertas: [\n    { id: 'oferta-oleo-10w30', nome: 'Óleo Motor 10W30', preco: 48.9, categoria: 'Lubrificantes' },\n    { id: 'oferta-capacete-pro-tork', nome: 'Capacete Pro Tork', preco: 249.9, categoria: 'Acessórios' },\n    { id: 'oferta-pastilha-freio', nome: 'Pastilha de Freio', preco: 35, categoria: 'Freios' }\n  ],\n  cartazes: [\n    { id: 'cartaz-revisao', titulo: 'Revisão preventiva', rota: '/loja#servicos' },\n    { id: 'cartaz-promocoes', titulo: 'Promoções da semana', rota: '/loja#ofertas' }\n  ],\n  servicos: [\n    { id: 'serv-troca-oleo', nome: 'Troca de óleo', preco: 35, pecaSugerida: 'Óleo Motor 10W30', pecaPreco: 48.9 },\n    { id: 'serv-pastilha-freio', nome: 'Troca de pastilha de freio', preco: 60, pecaSugerida: 'Pastilha de Freio', pecaPreco: 35 },\n    { id: 'serv-relacao', nome: 'Troca de relação', preco: 90, pecaSugerida: 'Kit Relação CG 160', pecaPreco: 142.5 },\n    { id: 'serv-pneu', nome: 'Troca de pneu', preco: 45, pecaSugerida: 'Pneu Traseiro 90/90', pecaPreco: 189.9 }\n  ]\n};\n\nfunction moeda(valor) {\n  return valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n}\n\nfunction detectarServico() {\n  const termoIa = String(aiEntities.servico ?? '').toLowerCase();\n  return catalogo.servicos.find((servico) => {\n    const nome = servico.nome.toLowerCase();\n    return nome.includes(termoIa) || termoIa.includes(nome) || message.includes(nome) || nome.split(' ').some((parte) => parte.length > 3 && message.includes(parte));\n  });\n}\n\nfunction respostaBase(intent, reply, extra = {}) {\n  return {\n    ok: true,\n    assistant: 'cliente',\n    sessionId,\n    intent,\n    reply,\n    quickReplies: extra.quickReplies ?? ['Ver ofertas', 'Ver serviços', 'Formas de pagamento', 'Ir para carrinho'],\n    actions: extra.actions ?? [],\n    data: { ...(extra.data ?? {}), ia: { provider: 'n8n_langchain', output: langchainOutput, decision: langchainDecision } }\n  };\n}\n\nif (!message) {\n  return [respostaBase('boas_vindas', 'Olá! Sou o assistente da JB Motos. Posso te ajudar com ofertas, serviços, formas de pagamento ou levar itens para o carrinho.', {\n    quickReplies: ['Ofertas', 'Cartazes', 'Serviços', 'Formas de pagamento']\n  })];\n}\n\nif (aiIntent === 'pagamento' || message.includes('pagamento') || message.includes('pagar') || message.includes('pix') || message.includes('cartao') || message.includes('cartão')) {\n  return [respostaBase('pagamento', 'Hoje trabalhamos com simulação de pagamento para testes: PIX, cartão, dinheiro e pagamento no balcão. Quando o Mercado Pago for conectado, essa etapa vai abrir o checkout real.', {\n    actions: [{ type: 'navigate', payload: { route: '/loja/minha-conta' } }]\n  })];\n}\n\nif (aiIntent === 'ofertas_cartazes' || message.includes('oferta') || message.includes('promo') || message.includes('cartaz')) {\n  return [respostaBase('ofertas_cartazes', 'Encontrei ofertas e cartazes ativos. Vou te direcionar para a área correta da loja.', {\n    data: { ofertas: catalogo.ofertas, cartazes: catalogo.cartazes },\n    actions: [{ type: 'navigate', payload: { route: '/loja#ofertas' } }],\n    quickReplies: catalogo.ofertas.map((item) => item.nome)\n  })];\n}\n\nif (['lista_servicos', 'confirmar_servico', 'servico_confirmado'].includes(aiIntent) || message.includes('serviço') || message.includes('servico') || message.includes('revisao') || message.includes('revisão') || detectarServico()) {\n  const servico = detectarServico();\n  if (!servico) {\n    return [respostaBase('lista_servicos', 'Temos estes serviços disponíveis. Escolha um para eu te mostrar peça sugerida e valor.', {\n      data: { servicos: catalogo.servicos },\n      quickReplies: catalogo.servicos.map((item) => item.nome)\n    })];\n  }\n\n  const confirmou = Boolean(aiEntities.confirmou) || ['confirmo', 'quero', 'adicionar', 'pode colocar', 'fechar'].some((termo) => message.includes(termo));\n  const itemCarrinho = {\n    id: servico.id,\n    nome: servico.nome,\n    tipo: 'servico',\n    precoServico: servico.preco,\n    peca: servico.pecaSugerida,\n    precoPeca: servico.pecaPreco,\n    total: servico.preco + servico.pecaPreco\n  };\n\n  if (confirmou) {\n    return [respostaBase('servico_confirmado', `Perfeito. Adicionei ${servico.nome} ao carrinho. Serviço: ${moeda(servico.preco)} + peça sugerida (${servico.pecaSugerida}): ${moeda(servico.pecaPreco)}. Total: ${moeda(itemCarrinho.total)}.`, {\n      data: { itemCarrinho },\n      actions: [\n        { type: 'add_to_cart', payload: itemCarrinho },\n        { type: 'cart_animation', payload: { increment: 1, target: 'cart-icon' } },\n        {\n          type: 'create_service_request',\n          payload: {\n            clienteNome: 'Cliente da loja',\n            clienteId: sessionId,\n            servicoNaMoto: servico.nome,\n            descricao: `Solicitação criada pelo assistente: ${servico.nome}. Peça sugerida: ${servico.pecaSugerida}.`,\n            valorServico: moeda(servico.preco),\n            observacao: `Peça sugerida: ${servico.pecaSugerida} (${moeda(servico.pecaPreco)})`,\n            tipo: 'servico',\n            status: 'pendente',\n            origem: 'loja_online'\n          }\n        }\n      ],\n      quickReplies: ['Ir para carrinho', 'Ver mais serviços', 'Continuar comprando']\n    })];\n  }\n\n  return [respostaBase('confirmar_servico', `Você escolheu ${servico.nome}. Para esse serviço, sugerimos a peça ${servico.pecaSugerida}. Serviço: ${moeda(servico.preco)} + peça: ${moeda(servico.pecaPreco)}. Deseja adicionar ao carrinho?`, {\n    data: { itemCarrinho },\n    quickReplies: [`Confirmo ${servico.nome}`, 'Ver outros serviços', 'Cancelar']\n  })];\n}\n\nif (aiIntent === 'carrinho' || message.includes('carrinho') || message.includes('finalizar') || message.includes('checkout')) {\n  return [respostaBase('carrinho', 'Certo. Vou abrir o carrinho para você revisar os itens e finalizar a compra.', {\n    actions: [{ type: 'navigate', payload: { route: '/loja/carrinho' } }]\n  })];\n}\n\nreturn [respostaBase('fallback', langchainDecision.replySuggestion || langchainDecision.replySuggestion || $json.ai?.decision?.replySuggestion || 'Posso te ajudar com ofertas, cartazes, serviços, formas de pagamento ou carrinho. O que você deseja fazer agora?', {\n  quickReplies: ['Ver ofertas', 'Ver serviços', 'Formas de pagamento', 'Carrinho']\n})];"
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0002",
      "name": "05 - Motor Conversacional Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Motor conversacional\nAqui ficam as intenções principais:\n\n1. Boas-vindas\n2. Pagamento\n3. Ofertas/cartazes\n4. Serviços\n5. Confirmação de serviço\n6. Carrinho\n7. Fallback\n\nDepois podemos trocar parte disso por OpenAI sem mudar o contrato de resposta.",
        "height": 300,
        "width": 340,
        "color": 2
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0105",
      "name": "🧠 Motor Cliente com IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1570,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  ...$json,\n  audit: {\n    workflow: 'Assistente.Cliente',\n    version: 'cliente-profissional-v2',\n    timestamp: new Date().toISOString(),\n    intent: $json.intent,\n    sessionId: $json.sessionId,\n    actionsCount: Array.isArray($json.actions) ? $json.actions.length : 0\n  }\n}];"
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0006",
      "name": "06 - Auditoria da Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Auditoria\nNó preparado para logs futuros.\n\nDepois conectar em:\n- Supabase\n- PostgreSQL\n- Google Sheets\n- painel administrativo\n\nPor enquanto ele devolve metadados junto da resposta.",
        "height": 240,
        "width": 320,
        "color": 7
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0106",
      "name": "🧾 Auditoria",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1850,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0003",
      "name": "Responder - Cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2140,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Saída para o frontend\nO frontend deve interpretar `actions`.\n\nExemplos:\n- navigate\n- add_to_cart\n- cart_animation\n\nA animação do carrinho deve ser feita no React quando receber `cart_animation`.",
        "height": 240,
        "width": 320,
        "color": 5
      },
      "id": "b89fc5c8-0ab4-4d3b-80fa-7f3e9ccf0107",
      "name": "🚀 Resposta para Frontend",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2110,
        520
      ]
    }
  ],
  "connections": {
    "Webhook - Chat Cliente": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "01 - Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 - Normalizar Entrada": {
      "main": [
        [
          {
            "node": "02 - Contexto do Projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Contexto do Projeto": {
      "main": [
        [
          {
            "node": "03 - AI Agent LangChain Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - AI Agent LangChain Cliente": {
      "main": [
        [
          {
            "node": "05 - Motor Conversacional Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "03 - AI Agent LangChain Cliente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "04.1 - Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "03 - AI Agent LangChain Cliente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "05 - Motor Conversacional Cliente": {
      "main": [
        [
          {
            "node": "06 - Auditoria da Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Auditoria da Resposta": {
      "main": [
        [
          {
            "node": "Responder - Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "JB Motos"
    },
    {
      "name": "Cliente"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-21T20:47:43.292Z",
  "versionId": "cliente-langchain-v5-fix-service-detection"
}